.player{
    position: relative;
}

.player-control{
    position: absolute;
    width: 90%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-control__button{
    background-image: url("/img/player/icons_for_player.png");
    width: 120px;
    height: 90px;
    cursor: pointer;
}

.player-control-button__play{
    background-position: 28% 6%;
    width: 100px;
}

.player-control-button__pause{
    background-position: 50% 6%;
    width: 100px;
}

.player-control-button__rewindLeft{
    background-position: 27% 50%;
}

.player-control-button__rewindRight{
    background-position: 5% 50%;
}

.player-control-button__stop{
    background-position: 95% 6%;
    width: 100px;
}

.player-control-button__muteSound{
    background-position: 27% 97%;
}

.player-control__time{
    font-size: 30px;
    line-height: 80px;
}

.player-control-progress{
    position: relative;
    cursor: pointer;
    height: 25px;
    width: 650px;
    background-color: #000000;
    border: 1px solid seashell;
}

.player-control-progress__videotime{
    position: absolute;
    left:0;
    height: 23px;
    background-color: lightskyblue;
}

.player-control-progress__preview{
    position: absolute;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background-color: khaki;
}