@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

.player{
    position: relative;
    width: 100%;
    animation-duration: 2s;
}

.player:hover .player-control{
    opacity: 1;
}

.player:focus{
    outline: none;
}

.player-video{
    width: 100%;
    height: 100%;
}

.player-playButton{
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 45%;
    top: 40%;
    width: 10%;
    height: 15%;
    opacity: 0;
    transition: opacity 1s;
}

.player-playButton__play div{
    border-top: 45px solid transparent;
    border-left: 90px solid white;
    border-bottom: 45px solid transparent;
}

.player-playButton__loading div{
    height: 90px;
    width: 90px;
    border: 6px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.player-control{
    position: absolute;
    width: inherit;
    height: 5%;
    bottom: 0;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
}

.player-control__button{
    width: 50px; 
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-control-button__play{
    border-top: 10px solid transparent;
    border-left: 20px solid #959FB0;
    border-bottom: 10px solid transparent;
}

.player-control-button__pause{
    position: relative;
}

.player-control-button__pause::before, .player-control-button__pause::after{
    position: absolute;
    content: "";
    top: -10px;
    width: 10px;
    height: 20px;
    background-color: #959FB0;
}

.player-control-button__pause::before{
    left: -15px;
}

.player-control-button__rewindLeft div{
    border-top: 10px solid transparent;
    border-right: 20px solid #959FB0;
    border-bottom: 10px solid transparent;
}


.player-control-button__rewindRight div{
    border-top: 10px solid transparent;
    border-left: 20px solid #959FB0;
    border-bottom: 10px solid transparent;
}

.player-control-button__stop div{
    background-color: #959FB0;
    width: 20px;
    height: 20px
}

.player-control-button__controllerVolume{
    position: relative;
}

.player-control-button__controllerVolume:hover .player-control-button__popupControllerVolume{
    opacity: 1;
}

.player-control-button__muteSound{
    width: 35px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-control-button__popupControllerVolume{
    position: relative;
    opacity: 0;
    width: 15px;
    height: 100px;
    bottom:175%;
    left:50%;
    background-color: rgb(255, 235, 205);
    transition: opacity 1.5s;
}

.player-control-button__popupControllerVolume__change{
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 50px;
    background-color: rgb(236, 187, 113);
}

.player-control-button__muteSound-componentFirst{
    position: absolute;
    width: 6px;
    height: 12px;
    border-radius:3px 0 0 3px;
    background-color: #959FB0;
}

.player-control-button__muteSound-componentSecond{
    position: absolute;
    width: 1px;
    height: 30px;
    border: 10px solid transparent;
    border-color: transparent transparent transparent #959FB0;
    transform: rotate(180deg);
}

.player-control-button__muteSound-componentThird{
    position: relative;
    left: 5px;
    width: 25px;
    height: 25px;
    border: 5px solid transparent;
    border-color: transparent #959FB0 transparent transparent;
    border-radius: 50%;
}

.player-control-button__muteSound-componentThird::before{
    content: "";
    position: absolute;
    left: -8px;
    top: -10px;
    width: 36px;
    height: 36px;
    border: 6px solid transparent;
    border-color: transparent #959FB0 transparent transparent;
    border-radius: 50%;
}

.player-control-button__fullScreen{
    position: relative;
}

.player-control-button__fullScreen div{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 30%;
}

.player-control-button__fullScreen-componentFirst{
    bottom: 5%;
    left: 15%;
    border: 3px solid transparent;
    border-color:transparent transparent #959FB0 #959FB0;
}

.player-control-button__fullScreen-componentSecond{
    top: 5%;
    left: 15%;
    border: 3px solid transparent;
    border-color:#959FB0 transparent transparent #959FB0;
}

.player-control-button__fullScreen-componentThird{
    top: 5%;
    right: 15%;
    border: 3px solid transparent;
    border-color:#959FB0 #959FB0 transparent transparent;
}

.player-control-button__fullScreen-componentFourth{
    bottom: 5%;
    right: 15%;
    border: 3px solid transparent;
    border-color:transparent #959FB0 #959FB0 transparent;
}

.player-control__time{
    font-size: 20px;
    line-height: 80px;
}

.player-control-progress{
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 650px;
    background-color: #000000;
    border: 1px solid seashell;
}

.player-control-progress__videotime{
    position: absolute;
    left:0;
    height: 18px;
    background-color: lightskyblue;
}

.player-control-progress__preview{
    position: absolute;
    bottom: 30px;
    width: 50px;
    height: 25px;
    background-color: white;
    color: black;
}

.player-control-button__videoQuality{
    position: relative;
    font-size: 1.1em;
}

.player-control-button__videoQuality:hover .player-control-button__videoQuality__popup{
    opacity: 1;
}

.player-control-button__videoQuality__popup{
    opacity: 0;
    position: absolute;
    bottom:100%;
    width: inherit;
    background-color: #333;
    transition: opacity 1s;
}

.player-control-button__videoQuality__popup div{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ffffff;
}

.player-control-button__videoQuality__popup div:hover{
    color: #b3b3b3
}