h1, .profile-registration{
    display: flex;
    justify-content: center;
}

.profile-registration{
    margin: 5% 0 10% 0;
}

.profile-user__name img, .profile-user__password img{
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

form{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-user__register{
    height: 30px;
    width: 90px;
    padding: 0 10px 0 10px;
    color: #866FD7;
    background-color: #2a2253;
    border:1px solid #866FD7;
    border-radius: 5px;
}

.profile-user__register:hover{
    color:#BAB6EB;
    background-color: #6B5EA9;
}

.profile-user__name, .profile-user__password{
    width: 100%;
    height: 45px;
    border:1px solid #866FD7;
    border-radius: 5px;
    background-color: #2a2253;
}

input[type="text"]{
    color:white;
}

.profile-user__name label, .profile-user__password label{
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.user_name,.user_password{
    padding-left: 10px;
    flex-grow: 9;
    font-size: 20px;
    border:none;
    background-color: #2a2253;
}

.profile-user__password{
    
}

.profile-user__signIn{
    width: 100%;
    height: 45px;
    background-color: #f8104d;
    border: none;
    border-radius: 10px;
}

.profile-user-remember{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.profile-user-remember__checkbox{
    display: none;
}

.profile-user-remember__checkboxAnimate{
    width: 50px;
    margin-right: 10px;
    border: 1px solid lightsteelblue;
    border-radius: 15%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.profile-user-remember__switch{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    left: 5%;
    transition: left 1s;
}

.profile-user-remember__checkboxAnimate img{
    width: 15px;
    height: 15px;
}

.profile-user__lostPass{
    color:lightslategray;
}

.profile-user__lostPass:hover{
    color:lightsteelblue;
    cursor: pointer;
}