footer{
    color: #FFFFFF99;
    margin-top: 100px;
}

.footer-nav-wrapper{
    background-color: #000000;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
}

.footer-nav p{
    color: #ffffff;
}

.footer-nav li{
    font-size: 12px;
}

.footer-nav ul{
    margin-left: 15px;
}

.footer-media{
    display: flex;
    justify-content: space-between;
}

.footer-media-wrapper{
    background-color: #191919;
}

.footer-media-icons{
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__copyright{
    font-size: 1vmax;
}

.footer-media-icons p{
    font-size: 1vmax;
    margin: 0;
 }

.footer-media-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../back-sprite/5c53e397da0d7070727989.png);
}

.footer-media__vk{
    background-position: 2% 50%;
}

.footer-media__fb{
    background-position: 26% 50%;
}

.footer-media__gp{
    background-position: 74% 50%;
}

.footer-media__tw{
    background-position: 50% 50%;
}

.footer-media__in{
    background-position: 98% 50%;
}

@media (max-width: 770px) {
    .footer-nav-wrapper{
        display: none;
    }
}