.main-bonus{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}

.main-button{
    width:49%;
    height:55px;
    border-style: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.main-button img{
   margin-right: 10px; 
}

.main-gift__button{
    background-color: #594b9ba8;
}

.main-bonus__button{
    background-color: #281f55;
}

.main-gift__button:hover{
    background-color: #5d4f9ba8;
}

.main-bonus__button:hover{
    background-color: #2a2253;
}

.main-recommended{
    margin-top: 40px;
    color: #ffffff;
    position: relative;
}

.main-description{
    margin-top: 80px;
    width: 80%;
    color:#ffffff;
}

.main-description_contentDiv{
    color: #c8c0ed;
}

.main-description > p{
    font-size: 18px;
    cursor: pointer;
}

.errorBoundary{
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.errorBoundary h1, .errorBoundary h2{
    text-align: center;
}

@media (max-width: 540px) {
    .errorBoundary img{
        height: 70%;
    }
}