.pages-content img{
	width: 15vmax;
    height: 22vmax;
    margin: 0 20px 20px auto;
	float: left;
}

.pages-content__description h2{
	font-size: 2.5vmax;
}

.pages-content__description p{
	font-size: 1.3vmax;
	margin-bottom: 5px;
}

.rating-film{
	font-size: 1.3vmax;
	font-weight: 700;
}

.rating-area {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
	width: 25vmax;
	font-size: 1.2vmax;
}
.rating-area:not(:checked) input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	padding: 0;
	cursor: pointer;
	font-size: 2vmax;
	line-height: 30px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rating-area > label:active {
	position: relative;
}

.rating-area > label.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}